# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env

# Django
db.sqlite3

# VS Code
.vscode/

# In the previous commit, pycache not tracked using .gitignore, connected our app with the project